---
layout: base.njk
bgColor: white
gallery:

  - date: 2023-06-25
    link: /eventi/2023-06-tra-sacro-e-profano/
    title: Tra sacro e profano
    credits: '<a href="https://www.instagram.com/ales_caria/">Alessandro Caria</a>'
    pictures:
    - gallery/2023-06-25__tra_sacro_e_profano/98.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/86.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/16.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/21.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/26.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/52.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/28.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/32.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/38.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/43.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/44.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/56.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/70.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/71.jpg
    - gallery/2023-06-25__tra_sacro_e_profano/76.jpg

  - date: 2022-05-22
    link: /eventi/maggio-in-campo/
    title: Maggio in campo
    pictures:
      - gallery/2022-05-22-1.jpeg

  - date: 2022-04-25
    link: /eventi/Pasqua-San-Gregorio/
    title: Concerto di Pasqua a San Gregorio
    pictures:
      - gallery/2022-04-25-1.jpeg
      - gallery/2022-04-25-2.jpeg

  - date: 2021-10-17
    link: /eventi/musica-sacra-da-Haydn-a-Liszt/
    title: Romanticismo tedesco
    pictures:
      - gallery/2021-10-17-1.jpeg
      - gallery/2021-10-17-2.jpeg
      - gallery/2021-10-17-3.jpeg
      - gallery/2021-10-17-5.jpeg
      - gallery/2021-10-17-4.jpeg
      - gallery/2021-10-17-6.jpeg
      - gallery/2021-10-17-7.jpeg
      - gallery/2021-10-17-8.jpeg
      - gallery/2021-10-17-9.jpeg
      - gallery/2021-10-17-10.jpeg
      - gallery/2021-10-17-11.jpeg
---

<div class="w-11/12 mx-auto mb-8 sm:w-8/12">
{% for event in gallery %}
  <a href="{{ event.link }}">
    <h1 class="mt-4 text-2xl text-gray-500">
      {{ event.title }} &mdash; {{ event.date.toLocaleDateString("it-IT", {year: "numeric", month: "long", day: "numeric"}) }}
    </h1>
  </a>
  {% if event.credits %}
  <span class="text-xl text-gray-500">foto di <span class="underline">{{ event.credits | safe }}</span></span>
  {% endif %}
  {# <div class="grid grid-flow-row grid-cols-3 grid-rows-4 gap-6"> #}
  <div class="mt-4 gap-4 masonry-1-col sm:masonry-2-col lg:masonry-3-col">
    {% for picture in event.pictures %}
    <img src="{{ '/' ~ picture }}" 
        class="mb-4 rounded shadow break-inside hover:shadow-2xl"
        onclick="lightbox({{ loop.index0 }}, {{ event.pictures | jsonify }})"
    />
    {% endfor %}
  </div>
{% endfor %}
</div>

{# The modal lightbox #}
<div id="modal" class="fixed top-0 left-0 z-10 hidden w-full h-full bg-black bg-opacity-80">
  <a class="absolute z-20 text-5xl text-gray-100 cursor-pointer right-10 top-5" onclick="closeLightbox()">&times;</a>
  <div id="modalContent" class="relative flex items-center justify-center w-11/12 h-full mx-auto md:w-3/4">
    <a id="prev" class="absolute left-0 p-4 ml-4 text-2xl text-gray-100 cursor-pointer hover:bg-black hover:opacity-20" onclick="plusLightbox(-1)">&#10094;</a>
    <a id="next" class="absolute right-0 p-4 mr-4 text-2xl text-gray-100 cursor-pointer hover:bg-black hover:opacity-20" onclick="plusLightbox(1)">&#10095;</a>
    <img id="modalImage" src="/gallery/2021-10-17-1.jpeg" class="object-fill max-w-full max-h-screen rounded-lg"></img>
  </div>

</div>

<script>

var globalImages = [];
var globalIdx = 0;

function lightbox(i, imgs) {
  // Only if we are not on mobile
  globalImages = imgs;
  globalIdx = i;

  const modal = document.getElementById("modal");
  modal.style.display = "block";

  updateLightbox();
}

function plusLightbox(offset) {
  globalIdx += offset;
  updateLightbox();
}

function updateLightbox() {
  const n = globalImages.length;
  globalIdx = ((globalIdx % n) + n) % n;
  console.log(globalIdx);
  const modalImage = document.getElementById("modalImage");
  modalImage.src = "/" + globalImages[globalIdx];
}

function closeLightbox() {
  const modal = document.getElementById("modal");
  modal.style.display = "none";
}

// Register key listeners
document.onkeydown = function (e) {
  const modal = document.getElementById("modal");
  if (modal.style.display === "block") {
    e = e || window.event;
    switch (e.which || e.keyCode) {
      case 27 : // esc
        closeLightbox();
        break;
      case 37: // left
        plusLightbox(-1);
        break;  
      case 39: // right
        plusLightbox(1);
        break;  
    }
  }
}
</script>
