---
layout: base.njk
bgColor: white
gallery:
  - date: 2021-10-17
    link: /eventi/musica-sacra-da-Haydn-a-Liszt/
    title: Romanticismo tedesco
    pictures:
      - gallery/2021-10-17-1.jpeg
      - gallery/2021-10-17-2.jpeg
      - gallery/2021-10-17-3.jpeg
      - gallery/2021-10-17-5.jpeg
      - gallery/2021-10-17-4.jpeg
      - gallery/2021-10-17-6.jpeg
      - gallery/2021-10-17-7.jpeg
      - gallery/2021-10-17-8.jpeg
      - gallery/2021-10-17-9.jpeg
      - gallery/2021-10-17-10.jpeg
      - gallery/2021-10-17-11.jpeg
---

<div class="w-11/12 mx-auto mb-8 sm:w-8/12">
{% for event in gallery %}
  <a href="{{ event.link }}">
    <h1 class="mt-4 mb-4 text-2xl text-gray-500">{{ event.title }}</h1>
  </a>
  {# <div class="grid grid-flow-row grid-cols-3 grid-rows-4 gap-6"> #}
  <div class="gap-4 masonry-1-col sm:masonry-2-col lg:masonry-3-col">
    {% for picture in event.pictures %}
    <img src="{{ '/' ~ picture }}" 
        class="mb-4 rounded shadow break-inside hover:shadow-2xl"
        onclick="lightbox({{ loop.index0 }}, {{ event.pictures | jsonify }})"
    />
    {% endfor %}
  </div>
{% endfor %}
</div>

{# The modal lightbox #}
<div id="modal" class="fixed top-0 left-0 z-10 hidden w-full h-full bg-black bg-opacity-80">
  <div id="modalContent" class="mx-auto my-auto w-8/10">
    <a id="prev" class="text-gray-100 prev" onclick="plusSlides(-1)">&#10094;</a>
    <a id="next" class="text-gray-100 next" onclick="plusSlides(1)">&#10095;</a>
    <img id="modalImage" class="max-h-full mx-auto w-9/10"></img>
  </div>

</div>

<script>

var globalImages = [];

function lightbox(i, imgs) {
  globalImages = imgs;
  const modal = document.getElementById("modal");
  const modalImage = document.getElementById("modalImage");
  modal.style.display = "block";

  modalImage.src = "/" + globalImages[i];
}
</script>
