<head>

    <!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Corte Polifonica</title>
    <!-- add description -->
    <meta name="description" content="Corte Polifonica, ensemble vocale di Padova, repertorio romantico e moderno.">
    <meta name="author" content="Matteo Ceccarello">
    <!-- fill these tags for ogp.me social media integration -->
    <!-- https://stackoverflow.com/questions/19778620/provide-an-image-for-whatsapp-link-sharing -->
    <meta property="og:title" content="Corte Polifonica" />
    <meta property="og:url" content="https://cortepolifonica.it" />
    <meta property="og:description" content="Corte Polifonica, ensemble vocale di Padova, repertorio romantico e moderno. Il coro nasce nel 2020.">
    <meta property="og:image" content='/images/logo-corte-polifonica.png'>
    <meta property="og:locale" content="it_IT" />
    <meta property="og:type" content="website" />

    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Pacifico&family=Lato&display=swap"
        rel="stylesheet">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles.css" />

    <!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

    <script>
        function shuffle(array) {
            var currentIndex = array.length, temporaryValue, randomIndex;

            // While there remain elements to shuffle...
            while (0 !== currentIndex) {

                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                // And swap it with the current element.
                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }

            return array;
        }

        function basename(str) {
            var base = new String(str).substring(str.lastIndexOf('/') + 1);
            if (base.lastIndexOf(".") != -1) {
                base = base.substring(0, base.lastIndexOf("."));
            }
            return base;
        }
    </script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-JVT0Y3Q9LH"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-JVT0Y3Q9LH');
	</script>

</head>
