{% for nextEvent in collections.futureEvents %}
<a href="{{ nextEvent.url }}" class="transform hover:scale-110">
<div class="pt-6 mt-10 font-serif transform bg-gray-100 rounded-lg shadow-lg md:mb-10 hover:shadow-2xl">
        <div class="pl-8 pr-8">
                <h1 class="mb-2 text-2xl text-gray-400">Prossimo evento</h1>
                <h1 class="mb-2 text-4xl text-gray-900">{{ nextEvent.data.title }}</h1>
                {% if nextEvent.data.subtitle %}
                <h2 class="mb-4 text-2xl text-gray-600">{{ nextEvent.data.subtitle }}</h1>
                {% endif %}
        </div>
        <img src="{{ nextEvent.url ~ nextEvent.data.splash }}" alt="" class="object-cover w-full h-60 mt-0 mb-0 object-top" />
        <div class="flex flex-col items-start pb-8 pl-8 pr-8 space-x-8 sm:flex-row">
                <div class="flex flex-row space-x-4">
                        <span class="inline-block align-top text-8xl">
                                {{ nextEvent.data.eventdate.toLocaleDateString("it-IT", {day: 'numeric'}) }}
                        </span>
                        <div class="flex flex-col mt-6">
                            <span class="text-3xl">
                                {{ nextEvent.data.eventdate.toLocaleDateString("it-IT", {month: 'long'}) }}
                            </span>
                            <span class="text-3xl">
                                {{ nextEvent.data.eventdate.toLocaleDateString("it-IT", {year: 'numeric'}) }}
                            </span>
                        </div>
                </div>
                <div class="flex flex-col flex-grow gap-2 mt-6 text-lg text-gray-600">
                        <span>{{ nextEvent.data.place }}</span>
                        <span>{{ nextEvent.data.address }}</span>
                </div>
        </div> 
</div>
</a>
{% endfor %}

