@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
        @variants responsive {
            .masonry-3-col {
                column-count: 3;
                /* column-gap: 1em; */
            }
            .masonry-2-col {
                column-count: 2;
                /* column-gap: 1em; */
            }
            .masonry-1-col {
                column-count: 1;
                /* column-gap: 1em; */
            }
            .break-inside {
                break-inside: avoid;
            }
        }
    }

@layer components {
        .markdown-content {
                @apply text-lg;
        }
        .markdown-content > p {
                @apply mb-4;
        }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}