@tailwind base;

@tailwind components;

@tailwind utilities;

.main-section-title {
    @apply mb-4 text-2xl font-light text-gray-600;
}

.aspect-square {
    padding-top: "100%";
    height: 0
}

.bg-cp-blue { background-color: "#78ddff"; }
.bg-cp-red { background-color: "#d43131"; }
.bg-cp-green { background-color: "#4ac251"; }
.bg-cp-yellow { background-color: "#ffb417"; }
