<div class="bg-white md:w-full rounded-lg shadow-lg">
    <div class="flex flex-col md:flex-row space-x-8">
        {{ $flyer := resources.Get "images/locandina-test.jpg" }}
        <div class="h-full">
            <img src="{{ $flyer.RelPermalink }}" alt="Locandina concerto sul Romanticismo Tedesco"
                class="h-full rounded-lg rounded-b-none md:rounded-lg md:rounded-r-none">
        </div>
        <div class="p-4">
            <div class="flex flex-col md:inline text-xl text-gray-700 mb-auto">
                <span class="text-2xl">
                    15 Novembre 2020
                </span>
                <span class="hidden md:inline">&middot;</span>
                <span class="">Chiesa di Santa Sofia</span>
                <span class="text-gray-600">Padova</span>
            </div>

            <div class="">
                <h3 class="text-3xl mb-6">Romanticismo Tedesco</h3>
                <p>Commodi earum dolores quam velit sapiente. Sapiente at et esse est est saepe aspernatur ut.
                    Tenetur sint et aut expedita.</p>
                <p>Dignissimos nemo quas necessitatibus et omnis nulla. Ut tenetur consequatur earum quaerat aut
                    at ad architecto. Voluptatem nihil id aut culpa alias. Accusamus quia nemo alias
                    exercitationem temporibus inventore exercitationem.</p>
            </div>
        </div>

    </div>
</div>