<div class="p-4 text-teal-100 bg-teal-900 ">
    <div class="flex flex-col md:w-8/12 md:mx-auto">
        <span color="text-teal-300">Copyright 2020 &copy;</span>
        <span>Associazione Culturale Diapason</span>
    </div>
</div>



<script>
    const pics = {{ ( apply (resources.Match "images/primi-piani/hq/*.png") "absURL" "." ) | jsonify | safeJS }};

    function shuffleImages() {
        const imgs = document.querySelectorAll(".face-thumb");
        const current_paths = Array.from(imgs).map(x => x.src);
        const imgIdx = Math.floor(Math.random() * imgs.length);

        var picIdx = Math.floor(Math.random() * pics.length);
        while ( current_paths.indexOf(pics[picIdx]) >= 0 ) {
            picIdx = Math.floor(Math.random() * pics.length);
        }
        imgs[imgIdx].src = pics[picIdx];
    }

    window.setInterval(shuffleImages, 1500);
</script>

<script>
    /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
    function toggleNavbar() {
        var x = document.getElementById("nav-links");
        if (x.style.display === "flex") {
            x.style.display = "none";
        } else {
            x.style.display = "flex";
        }
    }
</script>

<script>

    window.addEventListener("load", (event) => {
        const splash = document.getElementById("splash");
        const logo = document.getElementById("navlogo");
        const navbar = document.getElementById("navbar");
        const content = document.getElementById("content");
        const filler = document.getElementById("splash-filler");
        const dark = document.body.style.backgroundColor;
        const light = "#F5F5F4";

        // Observe the navbar position
        new IntersectionObserver((entries, observer) => {
            for (const sentinel of entries) {
                if (!sentinel.isIntersecting) {
                    // The the navbar is sticking
                    logo.classList.add("flex");
                    logo.classList.remove("hidden");
                    logo.style.animation = "fadeIn 1000ms ease-in forwards";
                    navbar.style.justifyContent = "space-between";
                    document.body.style.backgroundColor = light;
                } else {
                    // The navbar is not sticking
                    logo.classList.add("hidden");
                    logo.classList.remove("flex");
                    navbar.style.justifyContent = "center";
                    document.body.style.backgroundColor = dark
                }
            }
        })
            .observe(document.querySelector("#nav-sentinel"));

        // observe the content div
        new IntersectionObserver((entries, observer) => {
            for (const sentinel of entries) {
                if (sentinel.isIntersecting) {
                    content.style.opacity = 1;
                    content.style.animation = "fadeIn 1000ms ease-in forwards";
                } else {
                    content.style.opacity = 0;
                }
            }
        })
            .observe(document.querySelector("#content-sentinel"));
    }, false);
</script>