<div class="p-4 text-teal-100 bg-teal-900 ">
    <div class="flex flex-col md:w-8/12 md:mx-auto">
        <span color="text-teal-300">Copyright 2020 &copy;</span>
        <span>Associazione Culturale Diapason</span>
    </div>
</div>

<script>

    // window.addEventListener("scroll", function (ev) {
    //     const light = "#F5F5F4";
    //     // const light = "#FAFAF9";
    //     const threshold = splash.clientHeight + navbar.clientHeight;
    //     if (document.documentElement.scrollTop > threshold || document.body.scrollTop > threshold) {
    //         document.body.style.backgroundColor = light;
    //     } else {
    //         document.body.style.backgroundColor = dark;
    //     }
    // });

</script>

<!-- <script>
    function setupFiller() {
        const h = document.getElementById("splash").clientHeight + document.getElementById("navbar").clientHeight + document.getElementById("punchline").clientHeight;
        const fillh = window.innerHeight - h;
        console.log(fillh);
        document.getElementById("splash-filler").style.height = fillh + "px";
    }

    setupFiller();
    window.addEventListener("resize", function (ev) {
        console.log("setting up filler");
        setupFiller();
    });
</script> -->

<script>
    const pics = [
        "Chiara1.png",
        "Davide1.png",
        "Gianni1.png",
        "Gioia1.png",
        "Giovanna1.png",
        "Laura1.png",
        "Lucia1.png",
        "Lucia2.png",
        "Lucia3.png",
        "Lucia4.png",
        "Lucia5.png",
        "Matteo1.png",
        "Matteo10.png",
        "Matteo11.png",
        "Matteo12.png",
        "Matteo13.png",
        "Matteo14.png",
        "Matteo15.png",
        "Matteo19.png",
        "Matteo2.png",
        "Matteo20.png",
        "Matteo3.png",
        "Matteo4.png",
        "Matteo5.png",
        "Matteo6.png",
        "Matteo7.png",
        "Matteo8.png"
    ];
    function fullname(pic) {
        return "/cortepolifonica/images/primi-piani/" + pic;
    }

    function shuffleImages() {
        const imgs = document.querySelectorAll(".face-thumb");
        const imgIdx = Math.floor(Math.random() * imgs.length);
        const picIdx = Math.floor(Math.random() * pics.length);

        imgs[imgIdx].src = fullname(pics[picIdx]);
    }

    //window.setInterval(shuffleImages, 1500);
</script>

<script>
    /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
    function toggleNavbar() {
        var x = document.getElementById("nav-links");
        if (x.style.display === "flex") {
            x.style.display = "none";
        } else {
            x.style.display = "flex";
        }
    }
</script>

<script>

    window.addEventListener("load", (event) => {
        const splash = document.getElementById("splash");
        const logo = document.getElementById("navlogo");
        const navbar = document.getElementById("navbar");
        const content = document.getElementById("content");
        const filler = document.getElementById("splash-filler");
        const dark = document.body.style.backgroundColor;
        const light = "#F5F5F4";

        // Observe the navbar position
        new IntersectionObserver((entries, observer) => {
            for (const sentinel of entries) {
                if (!sentinel.isIntersecting) {
                    // The the navbar is sticking
                    logo.classList.add("flex");
                    logo.classList.remove("hidden");
                    logo.style.animation = "fadeIn 1000ms ease-in forwards";
                    navbar.style.justifyContent = "space-between";
                    document.body.style.backgroundColor = light;
                } else {
                    // The navbar is not sticking
                    logo.classList.add("hidden");
                    logo.classList.remove("flex");
                    navbar.style.justifyContent = "center";
                    document.body.style.backgroundColor = dark
                    // document.body.style.backgroundColor = "#1C1917";
                }
            }
        })
            .observe(document.querySelector("#nav-sentinel"));

        // observe the content div
        new IntersectionObserver((entries, observer) => {
            for (const sentinel of entries) {
                if (sentinel.isIntersecting) {
                    content.style.opacity = 1;
                    content.style.animation = "fadeIn 1000ms ease-in forwards";
                } else {
                    content.style.opacity = 0;
                }
            }
        })
            .observe(document.querySelector("#content-sentinel"));
    }, false);
</script>