<nav
  class="flex flex-col text-2xl font-light text-center text-gray-100 border-gray-500 bg-headerblack md:flex-row md:flex-no-wrap md:space-x-3 md:justify-center md:w-full md:pb-5 md:pt-5 md:text-center ">
  <a href="#chi-siamo">A proposito di noi</a>
  <span class="hidden md:inline">&middot;</span>
  <a href="#eventi">Eventi</a>
  <span class="hidden md:inline">&middot;</span>
  <a href="#contatti">Contatti</a>
  <span class="hidden md:inline">&middot;</span>
  <a href="https://fabrisd.github.io/apsdiapason">Diapason</a>
</nav>