<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body class="font-serif transition-colors duration-700 bg-backblack md:w-screen md:mx-auto">
    <!-- <body class="font-serif bg-gray-200 md:w-screen md:mx-auto"> -->

    <div id="splash">
        <div class="w-full h-24 pt-4 pb-4 bg-backblack">
            <img class="h-16 mx-auto mt-2 mb-2"
                src='{{ ( resources.Get "images/corte-polifonica-text.png" ).RelPermalink }}' alt="Corte Polifonica" />
        </div>
        <div id="cover-boxes" class=" sm:grid sm:grid-cols-6 md:grid-cols-8 lg:grid-cols-10">

            <div class="grid sm:col-span-2 sm:grid-cols-2 md:col-span-3 lg:col-span-4 md:grid-cols-3 lg:grid-cols-4">
                <div class="hidden lg:block bg-tbblue"></div>
                {{ partial "photo-box.html" (dict "img" "Giovanna1.png" "bg" "bg-tbyellow") }}
                {{ partial "photo-box.html" (dict "img" "Matteo2.png" "bg" "bg-tbblue") }}
                {{ partial "photo-box.html" (dict "img" "Lucia5.png" "bg" "bg-tbgreen") }}
                <div class="hidden lg:block bg-tbred"></div>
                {{ partial "photo-box.html" (dict "img" "Martina2.png" "bg" "bg-tbblue") }}
                {{ partial "photo-box.html" (dict "img" "Gioia1.png" "bg" "bg-tbred") }}
                {{ partial "photo-box.html" (dict "img" "Laura1.png" "bg" "bg-tborange") }}
            </div>
            <div class="col-span-2">
                <img class="sm:w-full sm:col-span-2"
                    src='{{ ( resources.Get "images/logo-banner-2.svg" ).RelPermalink }}' alt="" />
            </div>
            <div class="grid sm:col-span-2 sm:grid-cols-2 md:col-span-3 lg:col-span-4 md:grid-cols-3 lg:grid-cols-4">
                {{ partial "photo-box.html" (dict "img" "Gianni1.png" "bg" "bg-tbyellow") }}
                {{ partial "photo-box.html" (dict "img" "Davide1.png" "bg" "bg-tbblue") }}
                {{ partial "photo-box.html" (dict "img" "Martina3.png" "bg" "bg-tbgreen") }}
                <div class="hidden lg:block bg-tbred"></div>
                {{ partial "photo-box.html" (dict "img" "Martina1.png" "bg" "bg-tborange") }}
                {{ partial "photo-box.html" (dict "img" "Chiara1.png" "bg" "bg-tbyellow") }}
                {{ partial "photo-box.html" (dict "img" "Martina4.png" "bg" "bg-tbblue") }}
                <div class="hidden lg:block bg-tbgreen"></div>
            </div>
        </div>
        <div class="w-full h-2 bg-backblack"></div>
    </div>

    {{- partial "main-nav.html" -}}

    <section id="punchline" class="mt-10 mb-20 text-3xl text-center text-gray-600">
        <p class="mt-4 text-teal-700">
            La Corte Polifonica è appena nata,<br /> ma abbiamo grandi cose in mente!
        </p>
    </section>


    <div id="splash-filler"></div>

    <div id="content" class="hidden p-4 mx-auto mt-10 md:p-0 md:w-8/12 lg:w-8/12 xl:w-7/12">
        <section class="mt-10 font-sans bg-gray-100 rounded-lg shadow-lg md:mb-10">
            <h1 id="chi-siamo" class="p-8 font-serif text-3xl text-gray-700">Il coro</h1>
            <img class="w-full shadow-2xl filter grayscale"
                src='{{ ( resources.Get "images/giardino-crop.jpeg").RelPermalink }}' />
            <div class="p-8">
                <p class="mt-3 text-left">
                    La Corte polifonica nasce nel 2020, all'interno
                    dell'associazione musicale Diapason.
                </p>
                <p class="mt-3 text-left">
                    È formata da amici,
                    musicisti, cantori, accomunati dal desiderio di ritornare
                    a fare musica insieme, dopo mesi di forzato silenzio, e
                    di cimentarsi in un repertorio nuovo ed appassionante.
                </p>
                <p class="mt-3 text-left">
                    Ecco che il coro ha scelto di lavorare su un repertorio
                    romantico e moderno, con attenzione alla contemporaneità.
                </p>
                <p class="mt-3 text-left">
                    La sede del coro dà il nome al nostro gruppo, che sparge
                    buona musica dalla corte di casa della direttrice... per
                    tutto il vicinato!
                </p>
            </div>
        </section>


        <section class="p-4 mt-10 font-sans bg-gray-100 rounded-lg shadow-lg md:mb-10">
            <div class="p-4">
                <h1 class="font-serif text-3xl text-gray-700">La direttrice</h1>
                <img class="float-right w-1/2 m-8 rounded-full"
                    src='{{ ( resources.Get "images/Martina-pianoforte.jpg").RelPermalink }}' />
                <p class="mt-3 text-left">
                    <span class="text-teal-900">Martina Frigo</span> ha studiato pianoforte con i maestri Ruffin
                    Armellini, Rigon e
                    Chemin, diplomandosi con il massimo dei voti in pianoforte nel 2011 e
                    in musica da camera nel 2017. Ha partecipato a numerosi masterclass
                    pianistici con maestri di fama internazionale: Enrico Pace, Alberto
                    Nosè, Marian Mika, Lilya Zilberstein e Simone Soldati. È stata
                    vincitrice della borsa di studio regionale per l'accompagnamento
                    pianistico presso il Conservatorio C. Pollini, nel 2013 e 2014, del
                    secondo premio al Concorso Internazionale Giovani Pianisti 2013 di
                    Legnago e di premi in concorsi nazionali ed internazionali.
                </p>

                <p class="mt-3 text-left">
                    Ha studiato canto con il soprano Takako Okazaki e il soprano Tatiana
                    Aguiar, perfezionandosi nelle tecniche di vocalità e di direzione
                    corale nel biennio dell'accademia di direzione corale Righele
                    dell'ASAC.

                    Partecipa come maestro collaboratore o come corista a
                    molte realtà corali padovani. Ha fondato e diretto per alcuni anni
                    l'ensemble “Corymbus” di Padova, ha diretto il coro
                    "Nova Symphonia Patavina" e il coro studentesco del Liceo Scalcerle.
                </p>
            </div>
        </section>

        <!-- <section class="md:mb-10 md:mt-10"> -->
        <!--     <div id="eventi" class=""></div> -->
        <!--     <h2 class="main-section-title">Prossimi eventi</h2> -->

        <!--     {{/* partial "event-front-b.html" */}} -->
        <!-- </section> -->

        <div id="contatti" class=""></div>
        <div class="grid mt-8 mb-10 gap-x-8 gap-y-10 md:mt-0 md:grid-cols-2 ">

            <div class="grid gap-4 p-4 bg-gray-100 rounded-lg shadow-lg grid-row-1">
                <div class="flex flex-col row-span-1 mt-auto mb-auto text-xl text-center text-gray-700">
                    <span class="">
                        Vuoi partecipare?
                        Hai un progetto da proporci?
                    </span>
                    <spa>
                        Scrivici a
                        <a href="mailto:cortepolifonica@gmail.com"
                            class="text-gray-900 underline">info@cortepolifonica.it</a>
                        </span>
                </div>
                <div class="row-span-1">
                    {{ $contactPerson := resources.Get "images/primi-piani/thumbs/8.png" }}
                    <img src="{{ $contactPerson.RelPermalink }}" alt="Persona di riferimento"
                        class="w-1/2 mx-auto bg-teal-500 rounded-full sm:w-1/3 md:w-1/5">
                </div>
            </div>

            <div class="grid grid-rows-2 gap-4 p-4 bg-teal-900 rounded-md md:pt-8 md:pb-8">
                <div class="text-center">
                    <p class="font-sans text-2xl font-thin text-white">Vuoi rimanere aggiornato?</p>
                    <p class="text-xl font-light text-teal-100">Iscriviti alla nostra mailing list</p>
                </div>
                <div class="flex items-center">
                    <div class="flex-1 w-2/4 m-1 text-xl rounded-md shadow-sm">
                        <input id="input-email" type="text" placeholder="indirizzo email"
                            class="block w-full p-2 text-base rounded form-input sm:leading-5">
                    </div>
                    <button class="px-4 py-2 font-sans font-bold text-white bg-teal-600 rounded hover:bg-teal-700">
                        Iscriviti!
                    </button>
                </div>
            </div>

        </div> <!-- end contact block -->

    </div>

    {{- partial "footer.html" . -}}
</body>

</html>