<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body class="font-serif bg-gray-200 md:w-screen md:mx-auto">

    <div class="w-full h-24 pt-4 pb-4 bg-black">
        <img class="h-20 mx-auto" src='{{ ( resources.Get "images/corte-polifonica-text.png" ).RelPermalink }}'
            alt="Corte Polifonica" />
    </div>

    <div id="cover-boxes" class="flex-wrap hidden mx-auto md:flex-none sm:grid sm:grid-cols-10">

        <div class="grid grid-cols-4 col-span-4">
            <div class="bg-cpblue"></div>
            <div class="bg-cpgreen"></div>
            {{ partial "photo-box.html" (dict "img" "Matteo2.png" "bg" "bg-cpblue") }}
            {{ partial "photo-box.html" (dict "img" "Lucia5.png" "bg" "bg-cpgreen") }}
            <div class="bg-cpyellow"></div>
            <div class="bg-cpred"></div>
            {{ partial "photo-box.html" (dict "img" "Gioia1.png" "bg" "bg-cpyellow") }}
            {{ partial "photo-box.html" (dict "img" "Laura1.png" "bg" "bg-cpred") }}
        </div>
        <div class="col-span-2">
            <img class="sm:w-full sm:col-span-2" src='{{ ( resources.Get "images/logo-banner.svg" ).RelPermalink }}'
                alt="" />
        </div>
        <div class="grid grid-cols-4 col-span-4">
            {{ partial "photo-box.html" (dict "img" "Davide1.png" "bg" "bg-cpblue") }}
            {{ partial "photo-box.html" (dict "img" "Gianni1.png" "bg" "bg-cpgreen") }}
            <div class="bg-cpblue"></div>
            <div class="bg-cpgreen"></div>
            {{ partial "photo-box.html" (dict "img" "Giovanna1.png" "bg" "bg-cpyellow") }}
            {{ partial "photo-box.html" (dict "img" "Chiara1.png" "bg" "bg-cpred") }}
            <div class="bg-cpyellow"></div>
            <div class="bg-cpred"></div>
        </div>

    </div>
    <div class="w-full h-2 bg-black"></div>

    <!-- {{ $cover :=  resources.Get "images/cover-wide.jpeg"  }}
    <img src="{{ $cover.RelPermalink }}" alt="Cover image" 
         class="object-cover object-top w-full h-64"> -->

    {{- partial "main-nav.html" -}}

    <div id="content" class="p-4 mx-auto md:p-0 md:w-8/12">

        <section class="md:mb-10">
            <div id="chi-siamo" class=""></div>
            <!-- <h2 class="main-section-title">Chi siamo</h2> -->
            <p>Commodi earum dolores quam velit sapiente. Sapiente at et esse est est saepe aspernatur ut. Tenetur sint
                et aut expedita.</p>
            <p>Dignissimos nemo quas necessitatibus et omnis nulla. Ut tenetur consequatur earum quaerat aut at ad
                architecto. Voluptatem nihil id aut culpa alias. Accusamus quia nemo alias exercitationem temporibus
                inventore exercitationem.</p>
            <p>Provident minima voluptatem esse et enim optio. Minima qui quia ex at beatae voluptas officia corrupti.
                Esse quia ut possimus adipisci expedita libero aut velit.</p>
        </section>

        <section class="md:mb-10 md:mt-10">
            <div id="eventi" class=""></div>
            <h2 class="main-section-title">Prossimi eventi</h2>

            {{ partial "event-front-b.html" }}
        </section>

        <div id="contatti" class=""></div>
        <div class="grid mt-8 mb-10 gap-x-8 gap-y-10 md:mt-0 md:grid-cols-2 ">

            <div class="grid gap-4 p-4 bg-white rounded-lg shadow-lg grid-row-1">
                <div class="flex flex-col row-span-1 mt-auto mb-auto text-xl text-center text-gray-700">
                    <span class="">
                        Vuoi partecipare?
                        Hai un progetto da proporci?
                    </span>
                    <spa>
                        Scrivici a
                        <a href="mailto:info@cortepolifonica.it"
                            class="text-gray-900 underline">info@cortepolifonica.it</a>
                        </span>
                </div>
                <div class="row-span-1">
                    {{ $contactPerson := resources.Get "images/primi-piani/thumbs/8.png" }}
                    <img src="{{ $contactPerson.RelPermalink }}" alt="Persona di riferimento"
                        class="w-1/2 mx-auto bg-teal-500 rounded-full md:w-1/5">
                </div>
            </div>

            <div class="grid grid-rows-2 gap-4 p-4 bg-teal-900 rounded-md md:pt-8 md:pb-8">
                <div class="text-center">
                    <p class="font-sans text-2xl font-thin text-white">Vuoi rimanere aggiornato?</p>
                    <p class="text-xl font-light text-teal-100">Iscriviti alla nostra mailing list</p>
                </div>
                <div class="flex items-center">
                    <div class="flex-1 w-2/4 m-1 text-xl rounded-md shadow-sm">
                        <input id="input-email" type="text" placeholder="indirizzo email"
                            class="block w-full p-2 text-base rounded form-input sm:leading-5">
                    </div>
                    <button class="px-4 py-2 font-sans font-bold text-white bg-teal-600 rounded hover:bg-teal-700">
                        Iscriviti!
                    </button>
                </div>
            </div>

        </div> <!-- end contact block -->

    </div>

    {{- partial "footer.html" . -}}
</body>

</html>